<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
	<channel>
		<title>Monolingual Changelog</title>
		<link>http://monolingual.sourceforge.net/appcast.xml</link>
		<description>Most recent changes with links to updates.</description>
		<language>en</language>
		<item>
			<title>Version %VERSION%</title>
			<sparkle:minimumSystemVersion>10.5.0</sparkle:minimumSystemVersion>
			<description><![CDATA[
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<title>What's new in Monolingual?</title>
		<meta name="robots" content="anchors">
	</head>
	<body>
<!-- changelog goes here -->
	</body>
</html>
]]></description>
			<pubDate>%PUBDATE%</pubDate>
			<enclosure sparkle:md5sum="%MD5%" sparkle:dsaSignature="%SIGNATURE%" sparkle:version="%VERSION%" url="http://monolingual.sourceforge.net/files/%FILENAME%" length="%SIZE%" type="application/octet-stream"/>
		</item>
	</channel>
</rss>
