<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Monolingual</string>
	<key>CFBundleExecutable</key>
	<string>Monolingual</string>
	<key>CFBundleGetInfoString</key>
	<string>Monolingual 1.2.7, Copyleft (L) 2001, 2002 J. Schrier, 2004 Ingmar Stein</string>
	<key>CFBundleIconFile</key>
	<string>Monolingual.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.Monolingual</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monolingual</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.7</string>
	<key>CFBundleSignature</key>
	<string>MoLi</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyleft 2001, 2002 J. Schrier, 2004 Ingmar Stein.
Released under the GNU Public License.</string>
</dict>
</plist>
