<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
	<channel>
		<title>Monolingual Changelog</title>
		<link>https://ingmarstein.github.io/Monolingual/appcast.xml</link>
		<description>Most recent changes with links to updates.</description>
		<docs>http://blogs.law.harvard.edu/tech/rss</docs>
		<language>en</language>
		<pubDate>%PUBDATE%</pubDate>
		<lastBuildDate>%PUBDATE%</lastBuildDate>
		<atom:link href="https://ingmarstein.github.io/Monolingual/appcast.xml" rel="self" type="application/rss+xml"/>
		<item>
			<title>Version %VERSION%</title>
			<sparkle:minimumSystemVersion>10.10.0</sparkle:minimumSystemVersion>
			<description><![CDATA[
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<title>What's new in Monolingual?</title>
		<meta name="robots" content="anchors">
	</head>
	<body>
<!-- changelog goes here -->
	</body>
</html>
]]></description>
			<pubDate>%PUBDATE%</pubDate>
			<enclosure sparkle:md5sum="%MD5%" sparkle:dsaSignature="%SIGNATURE%" sparkle:version="%VERSION%" url="https://github.com/IngmarStein/Monolingual/releases/download/v%VERSION%/%FILENAME%" length="%SIZE%" type="application/octet-stream"/>
		</item>
	</channel>
</rss>
