<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Monolingual</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Executable</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Monolingual</string>
	<key>CFBundleGetInfoString</key>
	<string>Monolingual version 1.6.8, Copyleft 2001, 2002 J. Schrier, 2004-2015 Ingmar Stein</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.Monolingual</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monolingual</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.8</string>
	<key>CFBundleSignature</key>
	<string>MoLi</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>1.6.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyleft 2001, 2002 J. Schrier, 2004-2015 Ingmar Stein.
Released under the GNU Public License.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>net.sourceforge.MonolingualHelper</key>
		<string>identifier net.sourceforge.MonolingualHelper and certificate leaf[subject.CN] = &quot;Developer ID Application: ti und m AG&quot;</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://ingmarstein.github.io/Monolingual/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Ingmar Stein</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-C7A11CBEDE</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
