<header class="site-header">

  <nav class="site-nav">
	<ul id="navbar">
		<li{% if page.name == "index.html" %} class="here"{% endif %}><a href="index.html">Home</a></li>
		<li{% if page.name == "news.html" %} class="here"{% endif %}><a href="news.html">News</a></li>
		<li><a href="https://github.com/IngmarStein/Monolingual">Development</a></li>
		<li><a href="http://sourceforge.net/projects/monolingual/files/monolingual/">Downloads</a></li>
		<li{% if page.name == "changelog.html" %} class="here"{% endif %}><a href="changelog.html">Changelog</a></li>
		<li{% if page.name == "credits.html" %} class="here"{% endif %}><a href="credits.html">Credits</a></li>
		<li{% if page.name == "donate.html" %} class="here"{% endif %}><a href="donate.html">Donate</a></li>
		<li{% if page.name == "faq.html" %} class="here"{% endif %}><a href="faq.html"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
	</ul>
  </nav>

</header>
