<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.github.IngmarStein.Monolingual.Helper</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.github.IngmarStein.Monolingual.Helper</string>
</dict>
</plist>
