/* Class = "NSTableColumn"; headerCell.title = "Remove"; ObjectID = "1XJ-Gd-jYy"; */
"1XJ-Gd-jYy.headerCell.title" = "Remove";

/* Class = "NSMenuItem"; title = "Monolingual"; ObjectID = "1Xt-HY-uBw"; */
"1Xt-HY-uBw.title" = "Monolingual";

/* Class = "NSTextFieldCell"; title = "Application"; ObjectID = "2Hg-My-pnU"; */
"2Hg-My-pnU.title" = "Application";

/* Class = "NSTextFieldCell"; title = "Select the items you wish to remove:"; ObjectID = "4Es-9R-gAn"; */
"4Es-9R-gAn.title" = "Select the items you wish to remove:";

/* Class = "NSMenuItem"; title = "Quit Monolingual"; ObjectID = "4sb-4s-VLi"; */
"4sb-4s-VLi.title" = "Quit Monolingual";

/* Class = "NSMenuItem"; title = "About Monolingual"; ObjectID = "5kV-Vb-QxS"; */
"5kV-Vb-QxS.title" = "About Monolingual";

/* Class = "NSTableColumn"; headerCell.title = "Architecture"; ObjectID = "5qX-Sa-tJD"; */
"5qX-Sa-tJD.headerCell.title" = "Architecture";

/* Class = "NSButtonCell"; title = "Remove…"; ObjectID = "7bE-Hh-5SU"; */
"7bE-Hh-5SU.title" = "Remove…";

/* Class = "NSBox"; title = "Directories:"; ObjectID = "55G-Fd-xJZ"; */
"55G-Fd-xJZ.title" = "Directories";

/* Class = "NSMenu"; title = "Main Menu"; ObjectID = "AYu-sK-qS6"; */
"AYu-sK-qS6.title" = "Main Menu";

/* Class = "NSMenuItem"; title = "Preferences…"; ObjectID = "BOF-NM-1cW"; */
"BOF-NM-1cW.title" = "Preferences…";

/* Class = "NSTabViewItem"; label = "Architectures"; ObjectID = "CxN-75-fAV"; */
"CxN-75-fAV.label" = "Architectures";

/* Class = "NSMenu"; title = "Help"; ObjectID = "F2S-fz-NVQ"; */
"F2S-fz-NVQ.title" = "Help";

/* Class = "NSButtonCell"; title = "Move language files to Trash"; ObjectID = "GpT-ew-TUw"; */
"GpT-ew-TUw.title" = "Move language files to Trash";

/* Class = "NSWindow"; title = "Monolingual"; ObjectID = "IQv-IB-iLA"; */
"IQv-IB-iLA.title" = "Monolingual";

/* Class = "NSMenuItem"; title = "Show All"; ObjectID = "Kd2-mp-pUS"; */
"Kd2-mp-pUS.title" = "Show All";

/* Class = "NSMenuItem"; title = "Bring All to Front"; ObjectID = "LE2-aR-0XJ"; */
"LE2-aR-0XJ.title" = "Bring All to Front";

/* Class = "NSMenuItem"; title = "Services"; ObjectID = "NMo-om-nkz"; */
"NMo-om-nkz.title" = "Services";

/* Class = "NSButtonCell"; title = "Strip debug info when removing architectures"; ObjectID = "NXp-MA-naz"; */
"NXp-MA-naz.title" = "Strip debug info when removing architectures";

/* Class = "NSTableColumn"; headerCell.title = "Architectures"; ObjectID = "No6-FX-Y9X"; */
"No6-FX-Y9X.headerCell.title" = "Architectures";

/* Class = "NSTableColumn"; headerCell.title = "Path"; ObjectID = "OFP-Qj-bkb"; */
"OFP-Qj-bkb.headerCell.title" = "Path";

/* Class = "NSMenuItem"; title = "Minimize"; ObjectID = "OY7-WF-poV"; */
"OY7-WF-poV.title" = "Minimize";

/* Class = "NSMenuItem"; title = "Hide Monolingual"; ObjectID = "Olw-nP-bQN"; */
"Olw-nP-bQN.title" = "Hide Monolingual";

/* Class = "NSMenuItem"; title = "Zoom"; ObjectID = "R4o-n2-Eq4"; */
"R4o-n2-Eq4.title" = "Zoom";

/* Class = "NSMenuItem"; title = "Monolingual Website"; ObjectID = "T0F-eG-SQM"; */
"T0F-eG-SQM.title" = "Monolingual Website";

/* Class = "NSMenu"; title = "Window"; ObjectID = "Td7-aD-5lo"; */
"Td7-aD-5lo.title" = "Window";

/* Class = "NSButtonCell"; title = "Automatically check for updates"; ObjectID = "Ug3-e7-H88"; */
"Ug3-e7-H88.title" = "Automatically check for updates";

/* Class = "NSMenuItem"; title = "Hide Others"; ObjectID = "Vdr-fp-XzO"; */
"Vdr-fp-XzO.title" = "Hide Others";

/* Class = "NSButtonCell"; title = "Restore Defaults"; ObjectID = "XNp-m4-e9I"; */
"XNp-m4-e9I.title" = "Restore Defaults";

/* Class = "NSTableColumn"; headerCell.title = "Language"; ObjectID = "XXG-zZ-uSC"; */
"XXG-zZ-uSC.headerCell.title" = "Language";

/* Class = "NSMenuItem"; title = "Window"; ObjectID = "aUF-d1-5bR"; */
"aUF-d1-5bR.title" = "Window";

/* Class = "NSTabViewItem"; label = "Languages"; ObjectID = "bcK-xR-VFN"; */
"bcK-xR-VFN.label" = "Languages";

/* Class = "NSMenuItem"; title = "README.rtfd"; ObjectID = "bhF-6u-WYT"; */
"bhF-6u-WYT.title" = "README.rtfd";

/* Class = "NSTextFieldCell"; title = "Filename"; ObjectID = "cDA-Ww-acB"; */
"cDA-Ww-acB.title" = "Filename";

/* Class = "NSMenu"; title = "Services"; ObjectID = "hz9-B4-Xy5"; */
"hz9-B4-Xy5.title" = "Services";

/* Class = "NSButtonCell"; title = "Remove…"; ObjectID = "oQU-Vk-TEO"; */
"oQU-Vk-TEO.title" = "Remove…";

/* Class = "NSMenuItem"; title = "Check for Update"; ObjectID = "ovG-l7-8cL"; */
"ovG-l7-8cL.title" = "Check for Update";

/* Class = "NSMenuItem"; title = "Donate"; ObjectID = "p8d-r6-xqF"; */
"p8d-r6-xqF.title" = "Donate";

/* Class = "NSTableColumn"; headerCell.title = "Remove"; ObjectID = "pBV-1w-hWv"; */
"pBV-1w-hWv.headerCell.title" = "Remove";

/* Class = "NSMenuItem"; title = "Close"; ObjectID = "rCa-FF-cP0"; */
"rCa-FF-cP0.title" = "Close";

/* Class = "NSMenuItem"; title = "LICENSE.txt"; ObjectID = "uKg-49-FCQ"; */
"uKg-49-FCQ.title" = "LICENSE.txt";

/* Class = "NSMenu"; title = "Monolingual"; ObjectID = "uQy-DD-JDr"; */
"uQy-DD-JDr.title" = "Monolingual";

/* Class = "NSButtonCell"; title = "Cancel"; ObjectID = "vMP-PK-qKF"; */
"vMP-PK-qKF.title" = "Cancel";

/* Class = "NSTableColumn"; headerCell.title = "Languages"; ObjectID = "weW-SY-p4l"; */
"weW-SY-p4l.headerCell.title" = "Languages";

/* Class = "NSMenuItem"; title = "Help"; ObjectID = "wpr-3q-Mcd"; */
"wpr-3q-Mcd.title" = "Help";

/* Class = "NSTextFieldCell"; title = "Current architecture: %@"; ObjectID = "yB7-o0-eDt"; */
"yB7-o0-eDt.title" = "Current architecture: %@";

/* Class = "NSTextFieldCell"; title = "Select the items you wish to remove:"; ObjectID = "z6z-xJ-Pjk"; */
"z6z-xJ-Pjk.title" = "Select the items you wish to remove:";

/* Class = "NSWindow"; title = "Preferences"; ObjectID = "zCt-fj-HIv"; */
"zCt-fj-HIv.title" = "Preferences";
