name: fastlane

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install gems
      run: |
        bundle config set deployment 'true'
        bundle config set path ${BUNDLE_PATH:-vendor/bundle}
        bundle install --jobs=3 --retry=3
    - name: Add key
      run: "./scripts/add-key.sh"
      env:
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
    - name: Resolve Swift Package Manager dependencies (https://github.com/fastlane/fastlane/pull/15505)
      run: xcodebuild -resolvePackageDependencies
    - name: Build and test
      run: bundle exec fastlane test
    - name: Remove key
      run: "./scripts/remove-key.sh"
