<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Monolingual</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Executable</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Monolingual</string>
	<key>CFBundleGetInfoString</key>
	<string>Monolingual 1.4.1, Copyleft (L) 2001, 2002 J. Schrier, 2004-2009 Ingmar Stein</string>
	<key>CFBundleIconFile</key>
	<string>Monolingual.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.Monolingual</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monolingual</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleSignature</key>
	<string>MoLi</string>
	<key>CFBundleVersion</key>
	<string>1.4.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyleft 2001, 2002 J. Schrier, 2004-2009 Ingmar Stein.
Released under the GNU Public License.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Ingmar Stein</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-C7A11CBEDE</string>
	<key>SUFeedURL</key>
	<string>http://monolingual.sourceforge.net/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
