<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.5.9</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.MonolingualHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MonolingualHelper</string>
	<key>CFBundleVersion</key>
	<string>1.5.9</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier net.sourceforge.Monolingual and certificate leaf[subject.CN] = &quot;Developer ID Application: ti und m AG&quot;</string>
	</array>
</dict>
</plist>
