DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING = YES
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/Frameworks" "$(HOME)/Library/Frameworks" $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
GCC_VERSION=com.apple.compilers.llvm.clang.1_0
GCC_CW_ASM_SYNTAX = NO
GCC_C_LANGUAGE_STANDARD = c99
GCC_ENABLE_ASM_KEYWORD = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_MODEL_TUNING = G5
GCC_NO_COMMON_BLOCKS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_THREADSAFE_STATICS = NO
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VALUE = YES
HEADER_SEARCH_PATHS = "$(SRCROOT)/Frameworks"
LIBRARY_SEARCH_PATHS = "$(SRCROOT)/Frameworks"
MACOSX_DEPLOYMENT_TARGET = 10.5
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
OTHER_CFLAGS = -fconstant-cfstrings
PREBINDING = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
SDKROOT = $(SDKROOT_$(CURRENT_ARCH))
WARNING_CFLAGS = -Wall -W -Wcast-align -Wchar-subscripts -Wformat-security -Wmissing-format-attribute -Wpointer-arith -Wwrite-strings -Wno-format-y2k -Wno-unused-parameter -Wbad-function-cast -Wmissing-declarations -Wnested-externs
